body {
  position: relative !important;
  font-family: "titilliumweb";
}

.main-block-popup {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 100000;
}
.main-block-popup .background {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}
.main-block-popup .animation {
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
.main-block-popup .animation2 {
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
.main-block-popup .popup-container {
  z-index: 900000;
  width: 680px;
  margin: 100px auto;
}
.main-block-popup .popup-container .close-button {
  background-image: url("../images/close-but.png");
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 20px;
  top: 0;
}
.main-block-popup .popup-header {
  width: 100%;
  position: absolute;
  top: -74px;
}
.main-block-popup .popup-header .block-phone-img {
  border-radius: 50%;
  background: white;
  width: 148px;
  height: 148px;
  margin: 0 auto;
}
.main-block-popup .popup-header .block-phone-img img {
  margin: 25px;
}
.main-block-popup .popup-container {
  display: flex;
  flex-direction: column;
  min-height: 595px;
  position: relative;
}
.main-block-popup .popup-container .text {
  color: #174c2e;
  font-family: "titilliumweb";
  text-transform: initial !important;
  border: 0 !important;
  padding: 0 !important;
}
.main-block-popup .popup-container .block-top {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #a9d156, #c3e187);
  width: 100%;
}
.main-block-popup .popup-container .block-top .block-top-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px;
}
.main-block-popup .popup-container .block-top .block-top-container .block-top-title {
  font-size: 36px;
  font-weight: 700;
  margin: 120px 0px 0px 0px;
}
.main-block-popup .popup-container .block-top .block-top-container .block-left-figure {
  width: 195px;
}
.main-block-popup .popup-container .block-top .block-top-container .block-container {
  margin-top: 15px;
}
.main-block-popup .popup-container .block-top .block-top-container .block-container img {
  width: 195px;
}
.main-block-popup .block-text {
  text-align: center;
  padding: 0px 0px 15px 0px;
}
.main-block-popup .block-text .hide-text {
  display: inline-block;
}
.main-block-popup .block-text .hidden-text {
  display: none;
}
.main-block-popup .block-text .block-top-subtitle {
  font-size: 35px;
  font-weight: 400;
}
.main-block-popup .block-text .block-top-text {
  font-size: 24px;
  font-weight: 400;
}

.main-content {
  display: flex;
  justify-content: space-between;
  background: white;
}
.main-content .block-phones-img {
  width: 115px;
  height: 188px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-content .block-left-img {
  background-image: url("../images/left-phones-img.png");
}
.main-content .block-right-img {
  background-image: url("../images/right-phones-img.png");
}
.main-content .block-content {
  width: 425px;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.main-content .block-content .result-message {
  text-align: justify;
  width: 100%;
  background: #f9f2f4;
  color: #c7254e;
  margin: 16px 0px 0px;
  font-size: 16px;
  font-family: "titilliumweb";
  padding: 10px 10px;
  border-radius: 5px;
  display: none;
}
.main-content .block-content .block-content-field {
  text-align: center;
  line-height: 75px;
  width: 100%;
  height: 80px;
  border: 2px solid #bee071;
  border-radius: 9px;
  font-size: 36px;
  font-weight: 300;
  margin-top: 13px;
  color: #174c2e;
  font-family: "titilliumweb";
}
.main-content .block-content .block-content-field:focus {
  outline: none;
}
.main-content .block-content .block-content-field:invalid {
  outline-color: transparent;
}
.main-content .block-content .block-content-button {
  border: 0;
  border-radius: 9px;
  background: linear-gradient(0deg, #a9d156 0%, #abd35b 83%, #bcdd7a 100%);
  width: 423px;
  height: 84px;
  font-weight: 700;
  font-size: 36px;
  cursor: pointer;
}
.main-content .block-content .block-content-button:focus {
  outline: none;
}
.main-content .block-content .defaultStyles {
  background: linear-gradient(0deg, #a9d156 0%, #abd35b 83%, #bcdd7a 100%);
  color: #174c2e;
}
.main-content .block-content .additionalStyles {
  background: #d0cbcb;
  color: #000;
}
.main-content .block-content .block-content-text {
  text-align: justify;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  margin: 16px 0px 10px;
}
.main-content .block-content .span {
  text-align: justify;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 16px;
}

.opacity {
  opacity: 0.5;
}

@media all and (max-width: 768px) {
  .main-block-popup .popup-container {
    width: 500px;
  }
  .main-block-popup .popup-container .close-button {
    padding: 0px !important;
    width: 25px !important;
    height: 25px !important;
    top: 25px;
    margin-top: 0px;
    right: 20px;
  }
  .main-block-popup .popup-container .main-content {
    justify-content: center;
  }
  .main-block-popup .popup-container .main-content .block-phones-img {
    display: none;
  }
  .main-block-popup .popup-container .main-content .block-left-img {
    display: none;
  }
  .main-block-popup .popup-container .block-top .block-top-container {
    justify-content: center;
    margin-top: 90px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-top-title {
    font-size: 41px;
    font-weight: 500;
    margin: 0px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-left-figure {
    display: none;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-container img {
    display: none;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-phone-img {
    left: 115px;
    width: 139px;
    height: 139px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-phone-img img {
    margin: 20px;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-subtitle {
    font-size: 32px;
    line-height: 1.2;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-text {
    font-size: 24px;
  }
}
@media all and (max-width: 414px) {
  body {
    position: inherit !important;
  }

  .main-block-popup .background {
    height: 91%;
  }
  .main-block-popup .popup-header {
    top: -58px;
  }
  .main-block-popup .popup-header .block-phone-img {
    width: 115px;
    height: 115px;
    top: -29px;
  }
  .main-block-popup .popup-header .block-phone-img img {
    width: 85px;
    margin: 17px;
  }
  .main-block-popup .popup-container {
    width: 350px;
    margin: 60px auto;
  }
  .main-block-popup .popup-container .close-button {
    top: 30px !important;
    width: 20px !important;
    height: 20px !important;
  }
  .main-block-popup .popup-container .block-top {
    height: 225px;
  }
  .main-block-popup .popup-container .block-top .block-top-container {
    margin-top: 65px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-phone-img {
    left: 75px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-top-title {
    font-size: 41px;
  }
  .main-block-popup .popup-container .block-top .block-text {
    padding: 0;
  }
  .main-block-popup .popup-container .block-top .block-text .hidden-text {
    display: inline-block;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-text {
    font-size: 17px;
  }
  .main-block-popup .popup-container .block-top .block-text .hide-text {
    display: none;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-subtitle {
    font-size: 30px;
    margin-top: 15px;
  }
  .main-block-popup .main-content {
    height: 360px;
    padding: 0px 20px;
  }
  .main-block-popup .main-content .block-content {
    width: 100%;
  }
  .main-block-popup .main-content .block-content .block-content-button {
    height: 85px;
    font-size: 32px;
    width: 100%;
  }
  .main-block-popup .main-content .block-content .block-content-text {
    font-size: 11.5px;
  }
  .main-block-popup .main-content .block-content .span {
    font-size: 11.5px;
  }
  .main-block-popup .main-content .block-content .block-content-field {
    margin-top: 20px;
    font-size: 27px;
  }
  .main-block-popup .main-content .block-content .result-message {
    font-size: 12px;
  }
}
@media all and (max-width: 375px) {
  .main-block-popup .main-content {
    height: auto;
    padding: 0px 15px;
  }
  .main-block-popup .main-content .block-content {
    width: 100%;
    margin-bottom: 7px;
  }
  .main-block-popup .main-content .block-content .result-message {
    font-size: 12px;
    margin: 10px 0px 0px;
  }
  .main-block-popup .main-content .block-content .block-content-field {
    margin-top: 10px;
    height: 60px;
    font-size: 30px;
  }
  .main-block-popup .main-content .block-content .span {
    font-size: 11px;
    margin-bottom: 6px;
  }
  .main-block-popup .main-content .block-content .block-content-text {
    font-size: 11px;
    margin: 7px 0px 10px;
  }
  .main-block-popup .main-content .block-content .block-content-button {
    height: 55px;
    font-size: 25px;
  }
  .main-block-popup .popup-header {
    top: -60px;
  }
  .main-block-popup .popup-header .block-phone-img {
    width: 105px;
    height: 105px;
  }
  .main-block-popup .popup-header .block-phone-img img {
    width: 80px;
    margin: 15px;
  }
  .main-block-popup .popup-container {
    width: 330px;
    margin: 60px auto;
  }
  .main-block-popup .popup-container .block-top {
    height: 210px;
  }
  .main-block-popup .popup-container .block-top .block-top-container {
    margin-top: 50px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-phone-img {
    left: 75px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-top-title {
    font-size: 39px;
    margin: 0px;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-subtitle {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-text {
    font-size: 21px;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-subtitle {
    font-size: 30px;
    margin-top: 6px;
  }
}
@media all and (max-width: 360px) {
  .main-block-popup .background {
    height: 90%;
  }
  .main-block-popup .popup-container {
    width: 330px;
  }
  .main-block-popup .popup-container .block-top {
    height: 195px;
  }
  .main-block-popup .popup-container .block-top .block-top-container {
    margin-top: 40px;
  }
  .main-block-popup .main-content .block-content .block-content-field {
    height: 55px;
  }
}
@media all and (max-width: 320px) {
  .main-block-popup .background {
    height: 90%;
  }
  .main-block-popup .main-content {
    padding: 0px 6px;
  }
  .main-block-popup .main-content .block-content {
    width: 265px;
  }
  .main-block-popup .main-content .block-content .result-message {
    padding: 5px 10px;
  }
  .main-block-popup .main-content .block-content .block-content-button {
    height: 43px;
    font-size: 24px;
  }
  .main-block-popup .main-content .block-content .block-content-field {
    margin-top: 10px;
    height: 50px;
    font-size: 28px;
  }
  .main-block-popup .main-content .block-content .block-content-text {
    font-size: 10.5px;
    margin: 7px 0px 3px;
  }
  .main-block-popup .main-content .block-content .span {
    font-size: 10.5px;
    margin-bottom: 6px;
  }
  .main-block-popup .popup-header {
    height: 18px;
    top: -55px;
  }
  .main-block-popup .popup-header .block-phone-img {
    width: 95px;
    height: 95px;
    top: -29px;
  }
  .main-block-popup .popup-header .block-phone-img img {
    width: 70px;
    margin: 14px;
  }
  .main-block-popup .popup-container {
    width: 300px;
    margin: 55px auto;
  }
  .main-block-popup .popup-container .close-button {
    top: 15px !important;
    width: 18px !important;
    height: 18px !important;
  }
  .main-block-popup .popup-container .block-top {
    height: 167px;
  }
  .main-block-popup .popup-container .block-top .block-top-container {
    margin-top: 30px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-top-title {
    font-size: 34px;
    margin: 0px;
    margin-top: 3px;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-subtitle {
    font-size: 27px;
    margin-top: 0px;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-text {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
