body {
  position: relative !important;
}

.containerMenu {
  z-index: 0 !important;
}

.main-block-popup {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 100000;
}
.main-block-popup .background {
  background: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  overflow-y: scroll;
}
.main-block-popup .popup-container {
  z-index: 900000;
  width: 713px;
  margin: 30px auto;
}
.main-block-popup .popup-header {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-block-popup .popup-header .block-phone-img {
  border-radius: 50%;
  background: white;
  position: absolute;
  width: 148px;
  height: 148px;
}
.main-block-popup .popup-header .block-phone-img img {
  margin: 25px;
}
.main-block-popup .animated {
  animation-duration: 3s;
  animation-delay: 12s;
}
.main-block-popup .popup-container {
  display: flex;
  flex-direction: column;
  min-height: 595px;
}
.main-block-popup .popup-container .text {
  color: #174c2e;
  font-family: "titilliumweb";
  text-transform: initial !important;
  border: 0 !important;
  padding: 0 !important;
}
.main-block-popup .popup-container .block-top {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #a9d156, #c3e187);
  width: 100%;
}
.main-block-popup .popup-container .block-top .block-top-container {
  display: flex;
  justify-content: space-between;
}
.main-block-popup .popup-container .block-top .block-top-container .block-top-title {
  font-size: 36px;
  font-weight: 700;
  margin: 120px 0px 0px 30px;
}
.main-block-popup .popup-container .block-top .block-top-container .block-left-figure {
  background-image: url("../images/left-figures.png");
  width: 160px;
  height: 162px;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-top: 8px;
  background-position: center;
}
.main-block-popup .popup-container .block-top .block-top-container .block-container {
  display: flex;
}
.main-block-popup .popup-container .block-top .block-top-container .block-container .right-figure-block {
  background-image: url("../images/right-figures.png");
  width: 120px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-block-popup .popup-container .block-top .block-top-container .block-container .figure-button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}
.main-block-popup .popup-container .block-top .block-top-container .block-container .figure-button-block .close-button {
  background-image: url("../images/close-but.png");
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-block-popup .popup-container .block-top .block-top-container .block-container .figure-button-block .block-circles {
  background-image: url("../images/right-smal-circles.png");
  margin: 32px 0px 0px 0px;
  width: 60px;
  height: 92px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-block-popup .popup-container .block-text {
  text-align: center;
  padding: 0px 0px 15px 0px;
}
.main-block-popup .popup-container .block-text .hide-text {
  display: inline-block;
}
.main-block-popup .popup-container .block-text .hidden-text {
  display: none;
}
.main-block-popup .popup-container .block-text .block-top-subtitle {
  font-size: 35px;
  font-weight: 400;
}
.main-block-popup .popup-container .block-text .block-top-text {
  font-size: 24px;
  font-weight: 400;
}
.main-block-popup .main-content {
  display: flex;
  justify-content: space-between;
  background: white;
}
.main-block-popup .main-content .block-phones-img {
  width: 115px;
  height: 188px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-block-popup .main-content .block-left-img {
  background-image: url("../images/left-phones-img.png");
}
.main-block-popup .main-content .block-right-img {
  background-image: url("../images/right-phones-img.png");
}
.main-block-popup .main-content .block-content {
  width: 425px;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.main-block-popup .main-content .block-content .result-message {
  width: 100%;
  background: #f9f2f4;
  color: #c7254e;
  margin: 16px 0px;
  font-size: 16px;
  font-family: "titilliumweb";
  padding: 10px 10px;
  border-radius: 5px;
  display: none;
}
.main-block-popup .main-content .block-content .block-content-field {
  text-align: center;
  line-height: 75px;
  width: 100%;
  height: 80px;
  border: 2px solid #bee071;
  border-radius: 9px;
  font-size: 36px;
  font-weight: 300;
  margin-top: 13px;
  color: #174c2e;
  font-family: "titilliumweb";
}
.main-block-popup .main-content .block-content .block-content-field:focus {
  outline: none;
}
.main-block-popup .main-content .block-content .block-content-field:invalid {
  outline-color: red;
}
.main-block-popup .main-content .block-content .block-content-button {
  border: 0;
  border-radius: 9px;
  background: linear-gradient(0deg, #a9d156 0%, #abd35b 83%, #bcdd7a 100%);
  width: 423px;
  height: 84px;
  font-weight: 700;
  font-size: 36px;
  cursor: pointer;
}
.main-block-popup .main-content .block-content .block-content-button:focus {
  outline: none;
}
.main-block-popup .main-content .block-content .block-content-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  margin: 16px 0px;
}

.opacity {
  opacity: 0.5;
}

@media all and (max-width: 680px) {
  .main-block-popup .popup-container {
    width: 680px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-top-title {
    margin: 120px 0px 0px 20px;
  }
}
@media all and (max-width: 675px) {
  .main-block-popup .popup-container {
    width: 400px;
  }
  .main-block-popup .popup-container .main-content {
    justify-content: center;
  }
  .main-block-popup .popup-container .main-content .block-phones-img {
    display: none;
  }
  .main-block-popup .popup-container .main-content .block-content {
    justify-content: center;
    align-items: center;
    width: 315px;
  }
  .main-block-popup .popup-container .main-content .block-content .block-content-field {
    margin-top: 28px;
    font-size: 29px;
  }
  .main-block-popup .popup-container .main-content .block-content .block-content-text {
    font-size: 13.5px;
  }
  .main-block-popup .popup-container .main-content .block-content .block-content-button {
    width: 320px;
    font-weight: 500;
  }
  .main-block-popup .popup-container .block-top {
    height: 266px;
  }
  .main-block-popup .popup-container .block-top .block-top-container {
    justify-content: center;
    margin-top: 90px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-top-title {
    font-size: 41px;
    font-weight: 500;
    margin: 0px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-left-figure {
    display: none;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-container .right-figure-block {
    display: none;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-container .figure-button-block {
    margin: 0px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-container .block-circles {
    display: none;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-container .close-button {
    padding: 0px !important;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    top: 100px;
    margin-top: 0px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-phone-img {
    left: 115px;
    width: 139px;
    height: 139px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-phone-img img {
    margin: 20px;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-subtitle {
    font-size: 32px;
    line-height: 1.2;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-text {
    font-size: 21px;
  }
  .main-block-popup .popup-container .block-top .block-text .hidden-text {
    display: inline-block;
  }
  .main-block-popup .popup-container .block-top .block-text .hide-text {
    display: none;
  }
}
@media all and (max-width: 380px) {
  .main-block-popup .popup-container {
    width: 343px;
    margin: 10px;
  }
  .main-block-popup .popup-container .main-content .block-content .block-content-text {
    font-size: 12.5px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-phone-img {
    left: 100px;
  }
  .main-block-popup .popup-container .block-top .block-container .close-button {
    top: 100px;
  }
}
@media all and (max-width: 360px) {
  .main-block-popup .popup-container {
    width: 323px;
  }
  .main-block-popup .popup-container .block-top .block-text .block-top-text {
    font-size: 19px;
  }
}
@media all and (max-width: 320px) {
  .main-block-popup .popup-container {
    width: 283px;
  }
  .main-block-popup .popup-container .block-top .block-top-container .block-container .figure-button-block .close-button {
    right: 10px;
  }
  .main-block-popup .popup-container .main-content .block-content {
    width: 285px;
  }
  .main-block-popup .popup-container .main-content .block-content .block-content-button {
    width: 285px;
  }
}

/*# sourceMappingURL=style.css.map */
